<div id="footer">
	<div class="container">
		<hr>
		<div class="row">
			<div class="col-md-4"><h6><a href="/contact/">Contact</a></h6></div>
			<div class="col-md-4"><h6><a href="/api/">API</a></h6></div>
			<div class="col-md-4"><h6><a href="/sitemap/">Site Map</a></h6></div>
		</div>
		<div class="row">
			&copy; 2014-{{ "now"|date("Y") }} Lite Stack PHP
		</div>
	</div>
</div>