<div id="footer">
	<div class="container">
		<hr>
		<div class="row">
			<div class="col-md-4"><h6><a href="/contact/">Contact</a></h6></div>
			<div class="col-md-4"><h6><a href="/api/">API</a></h6></div>
			<div class="col-md-4"><h6><a href="/sitemap/">Site Map</a></h6></div>
		</div>
		<div class="row">
			&copy;
			{% set thisYear = "now"|date("Y") %}
			{% set startYear = 2014 %}
			{% if thisYear == startYear %}
				{{ startYear }}
			{% else %}
				{{ startYear }}-{{ thisYear }}
			{% endif %}
			{{ siteName }}
		</div>
	</div>
</div>