{% block header %}
	<div id="header" class="container">
		<a href="/">
			<h1 id="logoTag">{{ siteShort|default(siteName|slice(0,2)) }}</h1>
			<h2>{{ siteName }}</h2>
		</a>
		<hr>
	</div>
{% endblock %}